body{
    background-color: pink (229, 162, 196, 0);
    color: rgb(148, 121, 197);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(211, 121, 110);
    padding: 15px;
    font-size: 30px;
    color: pink (240, 207, 16)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(211, 140, 136)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(148, 118, 219)
}